<app-menu-tab
  #menu
  (cache)="cacheData($event)"
  (recover)="recoverData($event)"
  (downloadEmit)="downloadFile($event)"
  (publish)="publishAPP($event)"
  (grid)="gridNode($event)"
  (change)="changeView($event)"
  (resize)="changeSize($event)"
></app-menu-tab>
<app-view-tab
  #view
  style="display: block; margin-top: 68px"
  (focusPoint)="setConfig($event)"
  (onConfig)="onConfig($event)"
></app-view-tab>
<app-config-tab
  #config
  style="top: 63px; position: fixed; right: 0; z-index: 1000"
  [ngStyle]="{
    display: displayConfig()
  }"
  (updatePoint)="update($event)"
  (changeLayout)="changeLayout($event)"
></app-config-tab>
