<div
  style="
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3001;
    background: #fff0;
    height: 68px;
    width: 100%;
    display: flex;
    width: calc(100vw - 382px);
    border-right: 1px solid #00ff7f;
  "
>
  <p style="display: inline-block; margin-bottom: 0; width: 120px">
    <i
      title="保存数据"
      nz-icon
      nzType="cloud-upload"
      nzTheme="outline"
      width="20px"
      class="btn"
      style="color: #0093ff"
      (click)="cacheVisible = true"
    ></i>
    <i
      title="恢复数据"
      nz-icon
      nzType="cloud-download"
      nzTheme="outline"
      style="color: #3ab428"
      width="20px"
      class="btn"
      (click)="showComponentDialog()"
    ></i>
    <i
      title="下载文件"
      nz-icon
      nzType="download"
      nzTheme="outline"
      width="20px"
      style="color: #f5bf5d"
      class="btn"
      (click)="download($event)"
    ></i>
    <i
      title="发布应用"
      nz-icon
      nzType="fork"
      nzTheme="outline"
      width="20px"
      style="color: #c243b0"
      class="btn"
      (click)="publishAPP($event)"
    ></i>
    <i
      title="整理节点"
      nz-icon
      nzType="appstore"
      nzTheme="outline"
      width="20px"
      style="color: #2cd2e5"
      class="btn"
      (click)="gridNode($event)"
    ></i>
    <span>
      <i
        title="切换视图"
        nz-icon
        nzType="swap"
        nzTheme="outline"
        width="20px"
        class="btn"
        style="color: #dc6c6c"
        (click)="changeView($event)"
      ></i>
      <i
        title="预览视图"
        nz-icon
        nzType="eye"
        nzTheme="outline"
        width="20px"
        style="color: #2cd2e5"
        class="btn"
        (click)="preview()"
      ></i>
    </span>
  </p>

  <div
    class="menu-list"
    style="display: flex; overflow-x: auto; border-left: 2px solid #be00f054"
    #menuList
    (wheel)="scrollX($event)"
  >
    <div
      class="menu-tab"
      style="display: inline-block; margin: 0 4px"
      [ngStyle]="{ 'min-width': menu[1].length * 30 + 'px' }"
      *ngFor="let menu of menuConfig"
    >
      <p style="margin-bottom: 0">{{ menu[0] }}</p>
      <div>
        <span *ngFor="let btn of menu[1]">
          <i
            draggable="true"
            [title]="btn.title"
            [id]="btn.id"
            nz-icon
            [type]="btn.icon"
            [comonentType]="btn.type"
            [area]="btn.area"
            [filesName]="btn.filesName"
            [component]="btn.component"
            [view]="btn.view || 0"
            [node]="btn.node"
            [layout]="btn.layout"
            nzTheme="outline"
            width="20px"
            [ngStyle]="{ color: btn.color || 'btn' }"
            class="btn menu-node"
          ></i>
        </span>
      </div>
    </div>
  </div>

  <div
    style="
      position: fixed;
      top: 0;
      right: 210px;
      padding: 0 16px;
      border-left: 1px solid #00ff7f;
      border-right: 1px solid #00ff7f;
    "
  >
    <p style="margin-bottom: 1px">
      <span style="display: inline-block; width: 54px">width：</span>
      <nz-input-number
        style="width: 80px"
        [(ngModel)]="width"
        [nzMin]="10"
        [nzMax]="1920"
        [nzStep]="1"
        (nzBlur)="changeSize()"
      ></nz-input-number>
    </p>
    <p style="margin-bottom: 1px">
      <span>height：</span
      ><nz-input-number
        style="width: 80px"
        [(ngModel)]="height"
        [nzMin]="10"
        [nzMax]="5000"
        [nzStep]="1"
        (nzBlur)="changeSize()"
      ></nz-input-number>
    </p>
  </div>
  <div style="position: fixed; top: 0; right: 0">
    <p>
      <span>X轴：</span>
      <nz-radio-group
        [(ngModel)]="xLayout"
        (ngModelChange)="layoutChange($event, 'x')"
      >
        <label nz-radio nzValue="absolute">absolute</label>
        <label nz-radio nzValue="auto">auto</label>
      </nz-radio-group>
    </p>
    <p>
      <span>Y轴：</span
      ><nz-radio-group
        [(ngModel)]="yLayout"
        (ngModelChange)="layoutChange($event, 'y')"
      >
        <label nz-radio nzValue="absolute">absolute</label>
        <label nz-radio nzValue="auto">auto</label>
      </nz-radio-group>
    </p>
  </div>
</div>
<!-- 缓存配置 -->
<nz-modal
  [(nzVisible)]="cacheVisible"
  [nzContent]="cacheTemplate"
  nzTitle="保存配置项"
  [nzFooter]="cacheFooter"
  (nzOnOk)="cacheData($event)"
  (nzOnCancel)="cacheVisible = false"
  ><ng-template #cacheTemplate>
    <div>
      <p>
        配置名称：<input
          nz-input
          placeholder="请输入配置名称"
          [(ngModel)]="configParams.tagName"
        />
      </p>
      <p>
        描述：<textarea
          rows="4"
          nz-input
          placeholder="请输入配置相关描述"
          [(ngModel)]="configParams.desc"
        ></textarea>
      </p>
    </div>
  </ng-template>
  <ng-template #cacheFooter>
    <button nz-button nzType="primary" (click)="cacheData($event)">
      <span nz-icon nzType="cloud-upload"></span>
      保存
    </button>
  </ng-template>
</nz-modal>

<!-- 组件配置列表 -->
<nz-modal
  [(nzVisible)]="componentDialog"
  nzTitle="component列表"
  nzWidth="800px"
  [nzFooter]="null"
  nzMaskClosable="false"
  (nzOnCancel)="componentDialog = false"
>
  <ng-container *nzModalContent [ngStyle]="{ width: '800px' }">
    <nz-table
      [nzData]="componentList"
      [nzPaginationPosition]="'top'"
      [nzSize]="'small'"
      (nzPageIndexChange)="pageIndexChange($event)"
    >
      <thead>
        <tr>
          <th>配置名称</th>
          <th>描述</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let com of currentPageList">
          <td>{{ com.tagName }}</td>
          <td>{{ com.desc }}</td>
          <td>
            <span
              nz-icon
              nzType="form"
              nzTheme="outline"
              style="cursor: pointer; color: #ff69b4"
              (click)="apply($event, com)"
            ></span>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </ng-container>
</nz-modal>
