img {
  cursor: pointer;
  margin-right: 8px;
}
.menu-tab {
  float: left;
}
.menu-tab p {
  background-color: #fafafa;
  padding: 5px;
}

.btn {
  cursor: pointer;
  margin: 8px 5px;
  font-size: 20px;
}
.menu-node {
  font-size: 18px;
}

.menu-list::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background-color: #f5f5f5;
}

/*定义滚动条轨道 内阴影+圆角*/
.menu-list::-webkit-scrollbar-track {
  background-color: #17df0945;
}

/*定义滑块 内阴影+圆角*/
.menu-list::-webkit-scrollbar-thumb {
  background-color: #ff0;
}

.menu-list::-webkit-scrollbar-button {
  width: 0;
  background-color: red;
}
