<div style="width: 200px; position: fixed; top: 0; left: 0">
  <i
    title="保存数据"
    nz-icon
    nzType="cloud-upload"
    nzTheme="outline"
    width="20px"
    class="btn"
    style="color: #0093ff"
    nz-popover
    [(nzPopoverVisible)]="cacheVisible"
    nzPopoverTitle="保存配置项"
    [nzPopoverContent]="contentTemplate"
    nzPopoverTrigger="click"
  ></i>
  <ng-template #contentTemplate>
    <div>
      <p>
        配置名称：<input
          nz-input
          placeholder="请输入配置名称"
          [(ngModel)]="configParams.tagName"
        />
      </p>
      <p>
        描述：<textarea
          rows="4"
          nz-input
          placeholder="请输入配置相关描述"
          [(ngModel)]="configParams.desc"
        ></textarea>
      </p>
      <p style="text-align: right">
        <button nz-button nzType="primary" (click)="cacheData($event)">
          <span nz-icon nzType="cloud-upload"></span>
          保存
        </button>
      </p>
    </div>
  </ng-template>
  <i
    title="恢复数据"
    nz-icon
    nzType="cloud-download"
    nzTheme="outline"
    style="color: #3ab428"
    width="20px"
    class="btn"
    (click)="showComponentDialog()"
  ></i>

  <i
    title="下载文件"
    nz-icon
    nzType="download"
    nzTheme="outline"
    width="20px"
    style="color: #f5bf5d"
    class="btn"
    (click)="download($event)"
  ></i>
  <i
    title="发布应用"
    nz-icon
    nzType="fork"
    nzTheme="outline"
    width="20px"
    style="color: #c243b0"
    class="btn"
    (click)="publishAPP($event)"
  ></i>
  <i
    title="整理节点"
    nz-icon
    nzType="appstore"
    nzTheme="outline"
    width="20px"
    style="color: #2cd2e5"
    class="btn"
    (click)="gridNode($event)"
  ></i>
  <span style="float: right; margin-right: 14px">
    <i
      title="切换视图"
      nz-icon
      nzType="eye"
      nzTheme="outline"
      width="20px"
      class="btn"
      style="color: #dc6c6c"
      *ngIf="viewType == ViewTypes.view"
      (click)="changeView($event)"
    ></i>
    <i
      *ngIf="viewType == ViewTypes.link"
      title="切换视图"
      nz-icon
      nzType="api"
      style="color: #b7b741"
      nzTheme="outline"
      width="20px"
      class="btn"
      (click)="changeView($event)"
    ></i>
  </span>

  <div *ngFor="let menu of menuConfig">
    <p>{{ menu[0] }}</p>
    <span *ngFor="let btn of menu[1]">
      <i
        draggable="true"
        [title]="btn.title"
        [id]="btn.id"
        nz-icon
        [type]="btn.icon"
        [comonentType]="btn.type"
        [area]="btn.area"
        [filesName]="btn.filesName"
        [component]="btn.component"
        [view]="btn.view || 3"
        [node]="btn.node"
        nzTheme="outline"
        width="20px"
        [ngStyle]="{ color: btn.color || 'btn' }"
        class="btn menu-node"
      ></i>
    </span>
  </div>
</div>
<!-- 组件配置列表 -->
<nz-modal
  [(nzVisible)]="componentDialog"
  nzTitle="component列表"
  nzWidth="800px"
  [nzFooter]="null"
  nzMaskClosable="false"
  (nzOnCancel)="componentDialog = false"
>
  <ng-container *nzModalContent [ngStyle]="{ width: '800px' }">
    <nz-table
      [nzData]="componentList"
      [nzPaginationPosition]="'top'"
      [nzSize]="'small'"
      (nzPageIndexChange)="pageIndexChange($event)"
    >
      <thead>
        <tr>
          <th>配置名称</th>
          <th>描述</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let com of currentPageList">
          <td>{{ com.tagName }}</td>
          <td>{{ com.desc }}</td>
          <td>
            <span
              nz-icon
              nzType="form"
              nzTheme="outline"
              style="cursor: pointer; color: #ff69b4"
              (click)="apply($event, com)"
            ></span>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </ng-container>
</nz-modal>
