img {
  cursor: pointer;
  margin-right: 8px;
}
.menu-tab p {
  background-color: #fafafa;
  padding: 5px;
  margin-bottom: 0;
}

.btn {
  cursor: pointer;
  margin: 8px 5px;
  font-size: 20px;
}
.menu-node {
  font-size: 18px;
}
