<div id="drawing-board" style="position: relative">
  <!-- scaleX -->
  <div id="scaleX" #scaleX style="position: absolute"></div>
  <!-- scaleY -->
  <div id="scaleY" #scaleY style="position: absolute"></div>
  <!-- 页面图 -->
  <div
    id="design-view"
    #design
    style="width: 1920px; height: 1080px"
    [style]="{ display: tabView == 'design-view' ? 'block' : 'none' }"
  ></div>
  <!-- 逻辑图 -->
  <div
    id="relation-ship"
    #relation
    style="width: 1920px; height: 1080px"
    [style]="{ display: tabView == 'relation-ship' ? 'block' : 'none' }"
  ></div>
  <div class="dialog">
    <nz-tag
      *ngFor="let single of cacheNodes.normalAndAdditionalView; index as i"
      nzMode="closeable"
      [nzColor]="'#2db7f5'"
      (dblclick)="afterOpenTabsGraph(i)"
      (click)="configViewNode(cacheNodes.normalAndAdditionalView, i)"
      (nzOnClose)="deleteNode(i, cacheNodes.normalAndAdditionalView)"
    >
      <span nz-icon nzType="windows"></span>
      <span>{{ single.tagName }}</span>
    </nz-tag>
    <nz-tag
      *ngFor="let single of cacheNodes.additionalView; index as i"
      nzMode="closeable"
      [nzColor]="'#f50'"
      (dblclick)="openDialogGraph(i)"
      (click)="configViewNode(cacheNodes.additionalView, i)"
      (nzOnClose)="deleteNode(i, cacheNodes.additionalView)"
    >
      <span nz-icon nzType="block"></span>
      <span>{{ single.tagName }}</span>
    </nz-tag>
    <nz-tag
      *ngFor="let virtually of cacheNodes.noView; index as i"
      nzMode="closeable"
      [nzColor]="'#87d068'"
      (click)="configViewNode(cacheNodes.noView, i)"
      (nzOnClose)="deleteNode(i, cacheNodes.noView)"
    >
      <span nz-icon nzType="api"></span>
      <span>{{ virtually.tagName }}</span>
    </nz-tag>
  </div>
  <!-- 辅助线 -->
  <div class="area" #area></div>
</div>
<!-- 连线弹窗 事件 -->
<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="创建事件"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()"
  #model
>
  <ng-template #modalContent>
    <nz-tabset [(nzSelectedIndex)]="selectedIndex">
      <nz-tab nzTitle="event触发function" [nzDisabled]="!isCreate">
        <div>
          <nz-select [(ngModel)]="eventName" style="width: 100px">
            <nz-option
              *ngFor="let item of sourceEvents"
              [nzValue]="item.value"
              [nzLabel]="item.label"
            ></nz-option>
          </nz-select>
          <nz-select [(ngModel)]="methodName" style="width: 100px">
            <nz-option
              *ngFor="let item of targetMethods"
              [nzValue]="item.value"
              [nzLabel]="item.label"
            ></nz-option>
          </nz-select>
        </div>
        <div *ngFor="let back of getBackStatus(); index as i">
          <span>{{ back.label }}</span>
          <nz-select [(ngModel)]="methods[i]" style="width: 100px">
            <nz-option
              *ngFor="let item of sourceMethods"
              [nzValue]="item.value"
              [nzLabel]="item.label"
            ></nz-option>
          </nz-select>
        </div>
      </nz-tab>
      <nz-tab nzTitle="数据赋值" [nzDisabled]="!isCreate">
        <p>
          hook:
          <nz-select [(ngModel)]="hook" style="width: 150px">
            <nz-option
              *ngFor="let item of sourceEvents"
              [nzValue]="item.value"
              [nzLabel]="item.label"
            ></nz-option>
          </nz-select>
        </p>
        <p>
          赋值:
          <!-- api接口 数据赋值是需要动态可添加的 -->
          <nz-select
            style="width: 150px"
            [(ngModel)]="key"
            nzShowSearch
            nzAllowClear
            [nzDropdownRender]="renderTemplate"
          >
            <nz-option
              *ngFor="let item of sourceData"
              [nzLabel]="item"
              [nzValue]="item"
            ></nz-option>
          </nz-select>
          <ng-template #renderTemplate>
            <nz-divider></nz-divider>
            <div class="container" style="display: flex; align-items: center">
              <input
                type="text"
                nz-input
                #inputElement
                style="margin: 4px 6px 0 4px"
              />
              <a class="add-item" (click)="addItem(inputElement, sourceData)">
                <span nz-icon nzType="plus"></span>
              </a>
            </div>
          </ng-template>
          <!-- api接口 数据赋值是需要动态可添加的 -->
          <span> => </span>
          <nz-select [(ngModel)]="value" style="width: 150px">
            <nz-option
              [nzValue]="item"
              [nzLabel]="item"
              *ngFor="let item of targetData"
            ></nz-option>
          </nz-select>
        </p>
      </nz-tab>
      <nz-tab nzTitle="数据依赖" [nzDisabled]="!isCreate">
        <nz-alert
          nzType="warning"
          nzMessage="数据依赖：target的method 依赖于source的data"
          nzShowIcon
        ></nz-alert>
        数据项：
        <nz-tag
          *ngFor="let d of sourceData; index as i"
          nzMode="checkable"
          [nzChecked]="sourceChecked[i]"
          (nzCheckedChange)="checkChange($event, i)"
          >{{ d }}</nz-tag
        >
        方法
        <nz-select [(ngModel)]="method" style="width: 100px">
          <nz-option
            *ngFor="let item of targetMethods"
            [nzValue]="item.value"
            [nzLabel]="item.label"
          ></nz-option>
        </nz-select>
      </nz-tab>
    </nz-tabset>
  </ng-template>
  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">取消</button>
    <button
      nz-button
      nzType="default"
      nzDanger
      *ngIf="!isCreate"
      (click)="deleteEdge()"
    >
      删除
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="handleOk()"
      [nzLoading]="isConfirmLoading"
    >
      确定
    </button>
  </ng-template>
</nz-modal>
<!-- 发布应用 -->
<div class="publish">
  <nz-modal
    [nzStyle]="{ width: '720px' }"
    [nzBodyStyle]="{ width: '720px' }"
    [(nzVisible)]="publishIsVisible"
    [nzContent]="publishContent"
    [nzFooter]="publishFooter"
    (nzOnCancel)="publishCancel()"
    nzTitle="发布应用"
  >
    <ng-template #publishContent>
      <p class="publish-item">
        <span>appName: </span>
        <input nz-input placeholder="应用名称" [(ngModel)]="appName" />
      </p>
      <p class="publish-item">
        <span>tagName: </span>
        <input
          nz-input
          placeholder="web component的tagName"
          [(ngModel)]="tagName"
        />
      </p>
      <p class="publish-item">
        <span>logicFile: </span>
        store/application/{{ appName }}/{{ tagName }}-{{ logicHash }}.js
      </p>
      <p class="publish-item">
        <span>script / css:</span>
        <nz-table
          [ngStyle]="{ flex: 1 }"
          #basicTable
          nzSize="small"
          [nzData]="scriptConfigKeys()"
          [nzShowPagination]="false"
        >
          <thead>
            <tr>
              <th>src</th>
              <th>defer</th>
              <th>async</th>
              <th>type</th>
              <th>crossorigin</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let key of scriptConfigKeys()">
              <td>{{ key }}</td>
              <td>{{ (originFile[key] && originFile[key].defer) || "-" }}</td>
              <td>{{ (originFile[key] && originFile[key].async) || "-" }}</td>
              <td>{{ (originFile[key] && originFile[key].type) || "-" }}</td>
              <td>
                {{ (originFile[key] && originFile[key].crossorigin) || "-" }}
              </td>
            </tr>
            <tr>
              <td>store/application/{{ tagName }}-{{ logicHash }}.js</td>
              <td>true</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
            </tr>
          </tbody>
        </nz-table>
      </p>
    </ng-template>
    <ng-template #publishFooter>
      <button nz-button nzType="default" (click)="publishCancel()">取消</button>
      <button
        nz-button
        nzType="primary"
        (click)="publishHandleOk()"
        [nzLoading]="isConfirmLoading"
      >
        确认
      </button>
    </ng-template>
  </nz-modal>
</div>
<!-- 弹窗组件配置 -->
<nz-modal
  nzMaskClosable="false"
  [nzStyle]="{
    width: cacheNodes.additionalView[indexDialog]
      ? cacheNodes.additionalView[indexDialog].model.config.html.width.value +
        48 +
        1 +
        'px'
      : '748px',
    height: cacheNodes.additionalView[indexDialog]
      ? cacheNodes.additionalView[indexDialog].model.config.html.height.value +
        48 +
        1 +
        'px'
      : '448px'
  }"
  [nzBodyStyle]="{
    'overflow-y': 'auto',
    width: cacheNodes.additionalView[indexDialog]
      ? cacheNodes.additionalView[indexDialog].model.config.html.width.value +
        48 +
        1 +
        'px'
      : '748px',
    height: cacheNodes.additionalView[indexDialog]
      ? cacheNodes.additionalView[indexDialog].model.config.html.height.value +
        48 +
        1 +
        'px'
      : '448px'
  }"
  [(nzVisible)]="dialogConfigVisible"
  [nzTitle]="
    cacheNodes.additionalView[indexDialog]
      ? cacheNodes.additionalView[indexDialog].model.config.html.title.value
      : '弹窗配置'
  "
  (nzAfterOpen)="openDialog($event)"
  (nzAfterClose)="closeDialog($event)"
  [nzContent]="content"
  [nzFooter]="null"
  (nzOnCancel)="dialogConfigVisible = false"
>
</nz-modal>
<ng-template #content>
  <div
    id="dialog-view"
    #dialog
    style="width: 700px; height: 400px; position: relative"
  ></div>
  <app-config-tab></app-config-tab>
</ng-template>
<!-- tabs组件配置 -->
<nz-modal
  [nzStyle]="{
    width: cacheNodes.normalAndAdditionalView[indexTabs]
      ? cacheNodes.normalAndAdditionalView[indexTabs].model.config.html.width
          .value +
        48 +
        1 +
        'px'
      : '748px',
    height: cacheNodes.normalAndAdditionalView[indexTabs]
      ? cacheNodes.normalAndAdditionalView[indexTabs].model.config.html.height
          .value +
        48 +
        1 +
        'px'
      : '748px'
  }"
  [nzBodyStyle]="{
    width: cacheNodes.normalAndAdditionalView[indexTabs]
      ? cacheNodes.normalAndAdditionalView[indexTabs].model.config.html.width
          .value +
        48 +
        1 +
        'px'
      : '748px',
    height: cacheNodes.normalAndAdditionalView[indexTabs]
      ? cacheNodes.normalAndAdditionalView[indexTabs].model.config.html.height
          .value +
        48 +
        1 +
        'px'
      : '748px'
  }"
  [(nzVisible)]="tabsConfigDialog"
  [nzTitle]="'tabs配置'"
  (nzAfterOpen)="afterOpenTabs($event)"
  (nzAfterClose)="afterCloseTabs($event)"
  [nzContent]="tabsContent"
  [nzFooter]="null"
  (nzOnCancel)="closeTabs($event)"
>
</nz-modal>
<ng-template #tabsContent>
  <nz-tabset [nzCanDeactivate]="canDeactivate">
    <nz-tab
      *ngFor="
        let tab of cacheNodes.normalAndAdditionalView[indexTabs].model.config
          .html.tabs.options
      "
      [nzTitle]="tab"
      ><div #tabs style="position: relative"></div
    ></nz-tab>
  </nz-tabset>
</ng-template>
