::ng-deep .g6-grid-container {
  z-index: 0 !important;
  inset: 22px 0 0 22px !important;
}
::ng-deep .g6-component-contextmenu {
  z-index: 3;
}
::ng-deep .g6-component-contextmenu ul {
  margin: 0;
  padding: 0;
  cursor: pointer;
}
::ng-deep canvas {
  background-color: rgba(255, 255, 255, 0);
  z-index: 2;
  position: absolute;
}
::ng-deep .publish .ant-modal {
  width: 720px;
}
.publish-item {
  display: flex;
}
.publish-item span {
  width: 90px;
  margin-right: 4px;
  font-size: 16px;
  font-weight: 600;
}
