<div id="drawing-board" style="position: relative">
  <!-- scaleX -->
  <div id="scaleX" #scaleX style="position: absolute"></div>
  <!-- scaleY -->
  <div id="scaleY" #scaleY style="position: absolute"></div>
  <!-- 页面图 -->
  <div
    id="design-view"
    #design
    style="width: 1920px; height: 1080px"
    [style]="{ display: tabView == 'design-view' ? 'block' : 'none' }"
  ></div>
  <!-- 逻辑图 -->
  <div
    id="relation-ship"
    #relation
    style="width: 1920px; height: 1080px"
    [style]="{ display: tabView == 'relation-ship' ? 'block' : 'none' }"
  ></div>
</div>
<!-- 连线弹窗 事件 -->
<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="创建事件"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()"
  #model
>
  <ng-template #modalContent>
    <div>
      <span>event<->function:</span
      ><nz-select [(ngModel)]="eventName" style="width: 100px">
        <nz-option
          *ngFor="let item of sourceEvents"
          [nzValue]="item.value"
          [nzLabel]="item.label"
        ></nz-option>
      </nz-select>
      <nz-select [(ngModel)]="methodName" style="width: 100px">
        <nz-option
          *ngFor="let item of targetMethods"
          [nzValue]="item.value"
          [nzLabel]="item.label"
        ></nz-option>
      </nz-select>
    </div>
    <div *ngFor="let back of getBackStatus(); index as i">
      <span>{{ back.value }}</span>
      <nz-select [(ngModel)]="methods[i]" style="width: 100px">
        <nz-option
          *ngFor="let item of sourceMethods"
          [nzValue]="item.value"
          [nzLabel]="item.label"
        ></nz-option>
      </nz-select>
    </div>
  </ng-template>
  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">取消</button>
    <button
      nz-button
      nzType="default"
      nzDanger
      *ngIf="!isCreate"
      (click)="deleteEdge()"
    >
      删除
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="handleOk()"
      [nzLoading]="isConfirmLoading"
    >
      确定
    </button>
  </ng-template>
</nz-modal>
