<div
  class="tab-container"
  [ngStyle]="{
    display:
      originKeys(html).length + originKeys(css).length == 0 ? 'none' : 'block'
  }"
>
  <p>数据:</p>
  <div
    *ngFor="let key of originKeys(html); index as i"
    class="component-config"
  >
    <span class="label">{{ key }}</span>
    <span *ngIf="html[key].type === 'boolean'">
      <nz-switch
        [(ngModel)]="html[key].value"
        [nzCheckedChildren]="checkedTemplate"
        [nzUnCheckedChildren]="unCheckedTemplate"
        (ngModelChange)="updateConfig($event)"
      ></nz-switch>
      <ng-template #checkedTemplate><i nz-icon nzType="check"></i></ng-template>
      <ng-template #unCheckedTemplate
        ><i nz-icon nzType="close"></i
      ></ng-template>
    </span>
    <span *ngIf="html[key].type === 'array'">
      <nz-select
        [(ngModel)]="html[key].value"
        (ngModelChange)="updateConfig($event)"
      >
        <nz-option
          *ngFor="let item of html[key].options"
          [nzValue]="item.value !== undefined ? item.value : item"
          [nzLabel]="item.label ? item.label : item"
        ></nz-option>
      </nz-select>
    </span>
    <span *ngIf="html[key].type === 'list'">
      label:value<br />
      label[value == label]<br />
      <nz-tag
        *ngFor="let tag of html[key].options; let i = index"
        [nzMode]="
          html[key].value == (tag.split(':')[1] || tag.split(':')[0])
            ? 'default'
            : 'closeable'
        "
        (click)="checkTag(tag, html[key])"
        (nzOnClose)="handleClose(tag, html[key], 'options')"
      >
        {{ tag }}
      </nz-tag>
      <nz-tag
        *ngIf="!inputVisible"
        class="editable-tag"
        nzNoAnimation
        (click)="showInput()"
      >
        <i nz-icon nzType="plus"></i>
        New Tag
      </nz-tag>
      <input
        #inputElement
        nz-input
        nzSize="small"
        *ngIf="inputVisible"
        type="text"
        [(ngModel)]="inputValue"
        style="width: 78px"
        (blur)="handleInputConfirm(html[key], 'options')"
        (keydown.enter)="handleInputConfirm(html[key], 'options')"
      />
    </span>
    <span *ngIf="html[key].type === 'headers'">
      <button
        nz-button
        (click)="addHeaders(html[key].options)"
        nzType="primary"
      >
        +
      </button>
      <nz-table
        #editRowTable
        nzBordered
        nzSize="small"
        [nzData]="html[key].options"
        [nzFrontPagination]="false"
        [nzShowPagination]="false"
      >
        <thead>
          <tr>
            <th>label</th>
            <th>key</th>
            <th>width</th>
            <th></th>
          </tr>
        </thead>
        <tbody
          cdkDropList
          (cdkDropListDropped)="drop($event, html[key].options)"
        >
          <tr *ngFor="let tag of html[key].options; let i = index" cdkDrag>
            <td>
              <div
                class="editable-cell"
                [hidden]="editIndex === i"
                (click)="editIndex = i"
              >
                {{ tag.label }}
              </div>
              <input
                [hidden]="editIndex !== i"
                type="text"
                nz-input
                [(ngModel)]="tag.label"
                (focus)="updateFocus($event)"
                (blur)="updateTable()"
              />
            </td>
            <td>
              <div
                class="editable-cell"
                [hidden]="editIndex === i"
                (click)="editIndex = i"
              >
                {{ tag.key }}
              </div>
              <input
                [hidden]="editIndex !== i"
                type="text"
                nz-input
                [(ngModel)]="tag.key"
                (focus)="updateFocus($event)"
                (blur)="updateTable()"
              />
            </td>
            <td>
              <div
                class="editable-cell"
                [hidden]="editIndex === i"
                (click)="editIndex = i"
              >
                {{ tag.width }}
              </div>
              <input
                [hidden]="editIndex !== i"
                type="text"
                nz-input
                [(ngModel)]="tag.width"
                (focus)="updateFocus($event)"
                (blur)="updateTable()"
              />
            </td>
            <td>
              <a (click)="deleteItem(html[key].options, i)"
                ><span
                  nz-icon
                  nzType="delete"
                  nzTheme="outline"
                  style="color: red"
                ></span
              ></a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </span>
    <span *ngIf="html[key].type === 'string'">
      <nz-input-group [nzSuffix]="inputClearTpl">
        <input
          type="text"
          nz-input
          [(ngModel)]="html[key].value"
          (focus)="updateFocus($event)"
          (blur)="updateBlur($event)"
        />
      </nz-input-group>
      <ng-template #inputClearTpl
        ><i
          nz-icon
          class="ant-input-clear-icon"
          nzTheme="fill"
          nzType="close-circle"
          *ngIf="html[key].value"
          (click)="html[key].value = ''"
        ></i
      ></ng-template>
    </span>
    <span *ngIf="html[key].type === 'json'">
      <nz-input-group [nzSuffix]="inputClearTpl">
        <input
          type="text"
          nz-input
          [(ngModel)]="html[key].value"
          (focus)="updateFocus($event)"
          (blur)="updateBlur($event)"
        />
      </nz-input-group>
      <ng-template #inputClearTpl
        ><i
          nz-icon
          class="ant-input-clear-icon"
          nzTheme="fill"
          nzType="close-circle"
          *ngIf="html[key].value"
          (click)="html[key].value = ''"
        ></i
      ></ng-template>
    </span>
    <span *ngIf="html[key].type === 'number'">
      <nz-input-number
        [(ngModel)]="html[key].value"
        [nzMin]="0"
        [nzStep]="1"
        (nzBlur)="updateConfig($event)"
      ></nz-input-number>
    </span>
    <span *ngIf="html[key].type === 'icon'">
      <nz-radio-group
        [(ngModel)]="html[key].value"
        (ngModelChange)="updateConfig($event)"
      >
        <label
          style="display: block"
          nz-radio
          [nzValue]="icon"
          *ngFor="let icon of html[key].options"
        >
          <svg class="icon" aria-hidden="true" style="font-size: 16px">
            <use [attr.xlink:href]="icon"></use>
          </svg>
        </label>
      </nz-radio-group>
    </span>
    <span *ngIf="html[key].type === 'note'">
      {{ html[key].value }}
    </span>
  </div>
  <p>样式</p>
  <nz-alert
    nzType="warning"
    nzMessage="width,height只用于组件在画布中的布局占位"
    style="margin-bottom: 10px"
  ></nz-alert>
  <div *ngFor="let key of originKeys(css); index as i">
    <span class="label">{{ key }}</span>
    <span *ngIf="css[key].type === 'boolean'">
      <nz-switch
        [(ngModel)]="css[key].value"
        [nzCheckedChildren]="checkedTemplate"
        [nzUnCheckedChildren]="unCheckedTemplate"
        (ngModelChange)="updateConfig($event)"
      ></nz-switch>
      <ng-template #checkedTemplate><i nz-icon nzType="check"></i></ng-template>
      <ng-template #unCheckedTemplate
        ><i nz-icon nzType="close"></i
      ></ng-template>
    </span>
    <span *ngIf="css[key].type === 'array'">
      <nz-select
        [(ngModel)]="css[key].value"
        (ngModelChange)="updateConfig($event)"
      >
        <nz-option
          *ngFor="let item of css[key].options"
          [nzValue]="item.value ? item.value : item"
          [nzLabel]="item.label ? item.label : item"
        ></nz-option>
      </nz-select>
    </span>
    <span *ngIf="css[key].type === 'list'">
      <nz-tag
        *ngFor="let tag of css[key].options; let i = index"
        [nzMode]="css[key].value === tag ? 'default' : 'closeable'"
        (click)="checkTag(tag, css[key])"
        (nzOnClose)="handleClose(tag, css[key], 'options')"
      >
        {{ sliceTagName(tag) }}
      </nz-tag>
      <nz-tag
        *ngIf="!inputVisible"
        class="editable-tag"
        nzNoAnimation
        (click)="showInput()"
      >
        <i nz-icon nzType="plus"></i>
        New Tag
      </nz-tag>
      <input
        #inputElement
        nz-input
        nzSize="small"
        *ngIf="inputVisible"
        type="text"
        [(ngModel)]="inputValue"
        style="width: 78px"
        (blur)="handleInputConfirm(css[key], 'options')"
        (keydown.enter)="handleInputConfirm(css[key], 'options')"
      />
    </span>

    <span *ngIf="css[key].type === 'string'">
      <nz-input-group [nzSuffix]="inputClearTpl">
        <input
          type="text"
          nz-input
          [(ngModel)]="css[key].value"
          (focus)="updateFocus($event)"
          (blur)="updateBlur($event)"
        />
      </nz-input-group>
      <ng-template #inputClearTpl
        ><i
          nz-icon
          class="ant-input-clear-icon"
          nzTheme="fill"
          nzType="close-circle"
          *ngIf="css[key].value"
          (click)="css[key].value = ''"
        ></i
      ></ng-template>
    </span>
    <span *ngIf="css[key].type === 'number'">
      <nz-input-number
        [(ngModel)]="css[key].value"
        [nzMin]="0"
        [nzStep]="1"
        (nzBlur)="updateConfig($event)"
      ></nz-input-number>
      {{ css[key].postfix }}
    </span>
  </div>
</div>
