nz-select {
  margin: 0 8px 10px 0;
  width: 120px;
}
.label {
  display: inline-block;
  width: 50px;
  font-size: 12px;
  color: #ff0000ba;
  font-weight: 700;
}
nz-input-group {
  width: 120px;
}
p {
  color: #7680e5e3;
  border-bottom: 2px solid #a2a4b9e3;
  font-size: 19px;
  margin: 30px px 0 8px;
}
.tab-container {
  width: 200px;
}
