app-cache {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -2;
  opacity: 0;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
}
/*
  width可以改变右边滚动条的宽度
  height可以改变下边滚动条的高度
  */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  box-sizing: border-box;
}

/*
  corner角落的意思，可以改变Y滚动条与X滚动条交叉的右下角的样式
  */
::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
  -webkit-border-radius: 1px;
}
/*
  这就是滚动条的样式了
  */
::-webkit-scrollbar-thumb {
  background-color: #8f8f8f7d;
  border: 1px solid rgba(0, 0, 0, 0.21);
  -webkit-border-radius: 5px;
}
/*
  悬浮时
  */
::-webkit-scrollbar-thumb:hover {
  background-color: #8f8f8f;
  border: 1px solid rgba(0, 0, 0, 0.21);
}
/*
  滚动条空白处的样式
  */
::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 5px;
}
